.stats {
    flex: 1;
    padding: 2em;
    position: relative;
}

.stats__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
}

.stats .progress-bar {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

.stats .progress-bar[done] {
    height: 0;
    transition: height 0.33s ease;
}

.stats__stat {
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    background-image: linear-gradient(5deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.05) 74%);
    text-align: center;
}

.stats__stat p {
    font-weight: 200;
    margin: 0.5em 0;
}

.stats__stat--span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.stats__stat--span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}

.stats__stat-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.stats__stat-item:first-of-type {
    font-size: 2.5em;

    p {
        margin: 0;
    }
}

.stats__stat-item:first-of-type + .stats__stat-item {
    font-size: 2em;

    p {
        margin: 0.25em 0;
    }
}