.heading {
    line-height: 1.2em;
    margin-bottom: 1em;
}

.heading--heavy {
    font-weight: 600;
}

.heading--light {
    font-weight: 200;
}

.heading--dark {
    color: $dark;
}

.heading--l {
    font-size: 3em;
}

.heading--m {
    font-size: 2em;
}

.heading--s {
    font-size: 1.5em;
}