.activities {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.activities .progress-bar {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

.activities .progress-bar[done] {
    height: 0;
    transition: height 0.33s ease;
}

.activities__filter {
    position: relative;
}

.activities__content {
    position: relative;
    flex: 1;
}

.activities__footer {

}