*[hidden] {
    display: none;
}

button[disabled] {
    opacity: 0.5;
}

.strava-toolkit__tool {
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.strava-toolkit__tool + .strava-toolkit__tool {
    margin-top: 2em;
}

.strava-toolkit__progress-bar {
    height: 4px;
    margin-top: 1em;
    border-radius: 4px;
    background-color: #ddd;
    position: relative;
}

.strava-toolkit__progress-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #444;
}

.strava-toolkit__progress-bar[done] .strava-toolkit__progress-indicator {
    background-color: yellowgreen;
}

.strava-toolkit__form div {
    margin-bottom: 1em;
}