.slides {
    overflow: hidden;
}

.slides__container {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.33s ease;
}

.slides__slide {
    flex: 1 0 100%;
    min-height: 200px;
}

.slides__slide[inactive] {
    height: 0;
}

.slides__timeline {
    display: flex;
    flex-wrap: nowrap;
    padding: 1em 2em 2em 2em;
}

.slides__timeline-node {
    flex: 1 1 100%;
    position: relative;
    display: flex;
    transform: translateX(50%);
}

.slides__timeline-node:not(:last-of-type):before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    transform: translateY(-2px);
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 0;
}

.slides__timeline-node[completed]:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    transform: translateY(-2px);
    background: $accent;
    z-index: 0;
}

.slides__timeline-node-button {
    font-size: 1em;
    position: relative;
    transform: translateX(-50%);
    width: 1em;
    height: 1em;
    border: 5px solid rgba(#000, 0.15);
    background: #fff;
    background-clip: padding-box;
    border-radius: 50%;
    z-index: 1;
}

.slides__timeline-node-button:not([disabled]) {
    cursor: pointer;
}

.slides__timeline-node-button:not(active, disabled):hover {
    border-color: $accent;
}

.slides__timeline-node[active] .slides__timeline-node-button {
    background: #fff;
    border-color: $accent;
}

.slides--light-timeline {
    .slides__timeline-node:not(:last-of-type):before {
        background-color: $light;
    }

    .slides__timeline-node-button {
        border: 5px solid $light;
    }
}